<nav class="navbar navbar-expand-lg navbar-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects/games" routerLinkActive="active"><i class="fas fa-gamepad"></i> Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects/mobile" routerLinkActive="active"><i class="fas fa-mobile-alt"></i>  Mobile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects/web" routerLinkActive="active"><i class="fas fa-globe-europe"></i>  Web</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects/other" routerLinkActive="active"><i class="fas fa-code"></i>  Other</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>