<Container Margin="Margin.Is3.FromBottom.Is3.FromTop">
    <ProjectName Name="@Name"/>

    <ProjectDate Date="@Date"/>

    <Row Class="text-center">
        <Column>
            @ChildContent
        </Column>
    </Row>

    <Row>
        <Column>
              <div class="text-center embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                src="@YouTubeLink"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
        </Column>
    </Row>

    <ProjectLink Link="@ProjectLink"/>

</Container>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Date { get; set; }
    
    [Parameter]
    public string YouTubeLink { get; set; }
    
    [Parameter]
    public string ProjectLink { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}