<div class="container">
  <app-web-project
  name="Portfolio"
  time="03.2019 - today"
  description="It's this portfolio you are looking at. I was amazed by Angular and I decided  
  to make my own portfolio. It's hosted on Github Pages. Code can be found on my GitHub."
  technologies="Angular, Bootstrap, Visual Studio Code, Git, Design patterns">
  </app-web-project>
  <app-web-project
  name="Naviq"
  time="06.2018 - 12.2018"
  description="Naviq was ASP.Net Core Web API project. In short terms it was employee management system. 
  Unfortunately code isn't available since it was inside, commercial project for Qumak S.A."
  technologies="C#, ASP.Net Core, Visual Studio, xUnit, Rest API, SQL, Git, Design patterns">
  </app-web-project>
  <app-web-project
  name="Qumak Management System"
  time="07.2017 - 05.2018"
  description="QMS was a system for remotely managing customized, linux terminals with virtual desktop. 
  It was able to send messages, update software, establish VNC connections and collect data. 
  It used raw sockets for communication. I was responsible for client app wrote in Python."
  technologies="Python, Linux, Unit tests, Git, Design patterns">
  </app-web-project>
</div>
