<div class="container">
    <h1 class="text-light text-center">{{name}}</h1>
    <div class="row">
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="./assets/images/games/monnies1.jpg">
                </div>
            </div>
        </div>
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="./assets/images/games/monnies2.jpg">
                </div>
            </div>
        </div>
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="./assets/images/games/monnies3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

