<div class="container">
  <div class="row justify-content-center" id="infos">
    <div class="col-6" >
      <h1 class="text-light" id="name">Hubert Morawski</h1>
      <h6 class="text-light" id="contact">
          Email: hubert.morawski2@gmail.com <br>
          City: Cracov
      </h6>
      <p id="description">
        I am a programmer who loves solving puzzles and learning new things. 
        I have about two years of professional experience in coding (mostly C# and Python). 
        I specialize in <b>.Net Core with C#</b> and <b>Unity</b> related projects.
        Also I won the Hackathon City Coders Płock 2017.
      </p>
    </div>
    <div class="col-3">
      <img src="../../assets/images/im2.png" alt="My photo" class="p-2" id="portrait">
    </div>
  </div>
</div>