#infos {
    margin-top: 40px;
}

#description {
    color: gray;
    text-align: justify;
}

#portrait {
    height: 230px;
    width: auto;
}

#skills {
    margin-top: 20px;
}

#microsoft_logo {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

h4 {
    margin-top: 20px;
}

sup {
    font-size: smaller;
}