<div class="container" id="container">
  <div class="row justify-content-center" id="infos">
    <div class="col-sm-5" >
      <h1 class="text-light" id="name">Hubert Morawski</h1>
      <h6 class="text-light row" id="contact">
        <span class="col-12">Email: hubert.morawski2@gmail.com <br> </span>
        <span class="col-12">City: Cracow</span>
      </h6>
      <p id="description">
        I am a programmer who loves solving puzzles and learning new things. 
        I have about two years of professional experience in coding (mostly C# and Python). 
        I specialize in <b>.Net Core with C#</b> and <b>Unity</b> related projects.
        Also I won the Hackathon City Coders Płock 2017.
      </p>
    </div>
    <div class="col-sm-3 align-self-center">
      <div class="row justify-content-center">
        <div class="col">
          <img src="./assets/images/im2.png" alt="My photo" class="p-2" id="portrait">
        </div>
      </div>
    </div>
  </div>
  <div id="skills">
    <h2 class="text-light text-center">Skills</h2>
    
    <h4 class="text-light row justify-content-center">Languages</h4>
    <app-skill name="C#" imagePath="./assets/images/thumbnails/dot_net_small.png" level=4></app-skill>
    <app-skill name="Python" imagePath="./assets/images/thumbnails/python_small.png" level=3></app-skill>
    <app-skill name="Java" imagePath="./assets/images/thumbnails/java_small.png" level=2></app-skill>
    
    <h4 class="text-light row justify-content-center">Technologies</h4>
    <app-skill name="ASP.Net Core" imagePath="./assets/images/thumbnails/asp_small.png" level=4></app-skill>
    <app-skill name="Visual Studio" imagePath="./assets/images/thumbnails/vs.png" level=4></app-skill>
    <app-skill name="Unity" imagePath="./assets/images/thumbnails/unity.png" level=3></app-skill>
    <app-skill name="Git" imagePath="./assets/images/thumbnails/git_small.png" level=3></app-skill>
    <app-skill name="Linux" imagePath="./assets/images/thumbnails/tux_small.png" level=2></app-skill>
    <app-skill name="Android Studio" imagePath="./assets/images/thumbnails/android_small.png" level=2></app-skill>
    <app-skill name="VR - Oculus" imagePath="./assets/images/thumbnails/oculus_light_small.png" level=2></app-skill>
    <app-skill name="SQL" imagePath="./assets/images/thumbnails/db_small.png" level=2></app-skill>
    <app-skill name="Blender" imagePath="./assets/images/thumbnails/blender_small.png" level=2></app-skill>
    <app-skill name="Angular" imagePath="./assets/images/thumbnails/angular.png" level=1></app-skill>
    <app-skill name="Bootstrap" imagePath="./assets/images/thumbnails/bootstrap-solid.svg" level=1></app-skill>
    
    <h4 class="text-light row justify-content-center">Other</h4>
    <app-skill name="English" imagePath="./assets/images/thumbnails/english_small.png" level=4></app-skill>
    <app-skill name="Rest API" imagePath="./assets/images/thumbnails/rest_small.png" level=4></app-skill>
    <app-skill name="Unit tests" imagePath="https://img.icons8.com/flat_round/64/000000/checkmark.png" level=3></app-skill>
    <app-skill name="Design patterns" imagePath="./assets/images/thumbnails/design_small.png" level=2></app-skill>
    <app-skill name="Google Cloud" imagePath="./assets/images/thumbnails/google_cloud.png" level=1></app-skill>
  
    <h2 class="text-light row justify-content-center">Experience</h2>

    <app-about-field title="Owner / C# Developer" 
    logo="./assets/images/company/codehydra_full_logo.png"
    time="05/2019 - today"
    description="I started this company in May 2019. Right now I'm just self-employed freelancer looking for some opportunities. I'm specialized in .Net Core Web API projects.">
    </app-about-field>

    <app-about-field title="Software Engineer" 
    logo="./assets/images/company/tronel.png"
    time="01/2019 - 03/2019"
    description="I was responsible for maintaining WinForms and WPF desktop application. My main tasks were: implementing new features based on technical documentation, cooperating with worldwide team, fixing bugs, writing documentation.">
    </app-about-field>

    <app-about-field title="Junior Programmer" 
    logo="./assets/images/company/qumak.png"
    time="04/2018 - 12/2018"
    description="I was developing Web API  in .Net Core with C# and Entity Framework for employee manager system from scratch. Hence I was in charge of designing database, writing new features, unit testing with xUnit and writing API documentation.">
    </app-about-field>

    <app-about-field title="Junior Solutions Engineer" 
    logo="./assets/images/company/qumak.png"
    time="07/2017 - 03/2018"
    description="I wrote multiple Python apps for our QumakOS. It was Arch-based linux distro. For example: Digital Signage system, document trimmer (using OpenCV), chat, autoupadater, push notification app, API client.">
    </app-about-field>
  </div>

  <div id="education">
    <h2 class="text-light text-center">Education</h2>
    <app-about-field title="College of Economics and Computer Science"
    logo="./assets/images/company/wsei.png"
    time="2018 - 2021"
    description="Major: Information Technology
    Minor: Designing and development of computer games "
    ></app-about-field>
  </div>

  <div id="certificates">
    <h2 class="text-light text-center">Certificates</h2>
    <div class="text-light offset-md-3">
      <img src="./assets/images/microsoft_small.png" id="microsoft_logo">
      <div class="justify-content-center">
        <h5>98-375 MTA - HTML5 Application Development Fundamentals</h5>
        <h5>98-364 MTA - Database Fundamentals </h5>
        <h5>98-361 MTA - Software Development Fundamentals (C#)</h5>
      </div>
    </div>
  </div>

  <div id="awards">
    <h2 class="text-light text-center">Awards</h2>
    <app-about-field title="1st Place Hackathon City Coders Płock"
    logo="./assets/images/Logo_City_coders_plock.png"
    time="2017"
    description="I made Android app called TeamUp, which is presented in Mobile section in my portfolio. It was an app for finding sport partners, teams for games etc."
    ></app-about-field>
  </div>
</div>
  