@page "/Projects/Mobile"

<MobileProject
    Name="Rock,Paper,Scissors with AI"
    Date="19.04.2020"
    ScreenshotPath="@(new[] {"Images/Projects/rock_paper_scissors.jpg"})"
    ProjectLink="https://github.com/Morasiu/RockPaperScissorsMoblie">
    <span>
        Well known Rock Paper Scissors game, but with AI. I've come up with a simple algorithm based on a popular
        technique from Rock, Paper Scissors championships. Made with Xamarin and C#.
    </span>
</MobileProject>


<MobileProject
    Name="MyPlock"
    Date="17.06.2018"
    ScreenshotPath="@(new[] {"Images/Projects/my_plock1.jpg", "Images/Projects/my_plock2.jpg", "Images/Projects/my_plock3.jpg",})"
    ProjectLink="https://github.com/Morasiu/MyPlock">
    <span>
        Multipurpose city app created for hackathon City Coders Płock 2018. Features (not every feature was fully implemented):
    </span>
    <br/> - Account managment
    <br/> - Adding events
    <br/> - Event map
    <br/> - Reports
    <br/> - Timetable
    <br/> - City information
    
    @* <ul style="text-align: left"> *@
    @*     <li>Account managment </li> *@
    @*     <li>Adding events </li> *@
    @*     <li>Event map </li> *@
    @*     <li>Reports </li> *@
    @*     <li>Timetable </li> *@
    @*     <li>City information </li> *@
    @* </ul> *@


</MobileProject>

<MobileProject
    Name="TeamUp"
    Date="21.05.2017"
    ScreenshotPath="@(new[] {"Images/Projects/teamup1.png", "Images/Projects/teamup2.png", "Images/Projects/teamup3.png",})">
    <span>
        Android app for finding sport partners, teams for games or trainers. Created on the City Coders Płock 2017
        hackahton. I was reponsible for creating Android app using Android Studio.
    </span>
</MobileProject>

<MobileProject
    Name="What should I do"
    Date="06.12.2017"
    ScreenshotPath="@(new[] {"Images/Projects/what_should_i_do1.png", "Images/Projects/what_should_i_do2.png"})"
    ProjectLink="https://github.com/Morasiu/WhatShouldIDo">
    <span>
        Simple wheel of fortune. My very first android app created for scholarship program.
    </span>
</MobileProject>