@page "/Projects/Other"

<Container>

    <ScreenshotProject
        Name="Clockify.Net"
        ScreenshotPath="Images/Projects/clockify.net.png"
        ProjectLink="https://github.com/Morasiu/Clockify.Net">
        <span>
            It's REST HTTP Client made using RestSharp library for consuming Clockify service API. It has tests written 
            using NUnit and Cloud build. Stable version 1.0.0 is available on Nuget and GitHub.
        </span>
    </ScreenshotProject>


    <ScreenshotProject
        Name="Swashbuckle.AspNetCore.JsonMultipartFormDataSupport"
        ScreenshotPath="https://raw.githubusercontent.com/Morasiu/Swashbuckle.AspNetCore.JsonMultipartFormDataSupport/master/Example.png"
        ProjectLink="https://github.com/Morasiu/Swashbuckle.AspNetCore.JsonMultipartFormDataSupport">
        <span>
            I've made a simple library which add support to ASP.Net Core for simultaneously sending JSON data and file
            using Http Request multipart/form-data. It also has support for Swashbuckle and Swagger and seamless
            integration. It's available on Nuget.
        </span>
    </ScreenshotProject>

    <ScreenshotProject
        Name="Telegram AI chatbot"
        Date="02.2020 - 03.2020"
        ScreenshotPath="Images/Projects/telegram_AI.jpeg"
        ProjectLink="https://github.com/Morasiu/Telegram-AI-Chatbot">
        <span>
            By using over 70 000 messages from my Telegram's (communicator like Whatsapp) conversations
            I've managed to write my chatbot which you can talk to. It's written using python with Tensorflow and Seq2Seq model.
            Despite it was my first attempt for machine learning I was a lot of fun. It speaks only polish since I mostly
            chat in polish. It could use some more training.
        </span>
    </ScreenshotProject>

    <ScreenshotProject
        Name="Programming challenges"
        Date="Still in progress"
        ScreenshotPath="https://github.com/Morasiu/ProgrammingChallenges/blob/master/docs/list.png?raw=true"
        ProjectLink="https://github.com/Morasiu/ProgrammingChallenges">
        <span>
            I really like solving programming challenges. I've made quite a lot of it including: sudoku solver,
            A*-based maze generator etc.
        </span>
    </ScreenshotProject>

    @* ReSharper disable once Asp.Entity *@
    <ScreenshotProject
        Name="Termgine"
        Date="08.2019"
        ScreenshotPath="https://github.com/Morasiu/Termgine/blob/master/Docs/D&D_menu.png?raw=true"
        ProjectLink="https://github.com/Morasiu/Termgine">
        <span>
            It's game engine for making terminal-based-games. Currently rewriting it to ECS.
        </span>
    </ScreenshotProject>
</Container>