@page "/Projects/Web"
@using Portfolio.Components.Skills
@using Portfolio.Components.Projects

<Container Class="text-center">
    <ScreenshotProject
        Name="TapTake"
        ScreenshotPath="Images/Projects/TapTake.png"
        ProjectLink="https://tap-take.pl"
        Date="05.2019 - now">
        <span>
            TapTake is a shopping platform foccused on small and medium stores. User can make an order and grab it
            locally or pick the delivery option. It also support item purchase per weight and card payments.
            I was reposponsible for making a REST API using .Net Core, managing cloud and database.
        </span>
    </ScreenshotProject>
    
    <ScreenshotProject
        Name="BlazorTimeline"
        ScreenshotPath="https://github.com/Morasiu/BlazorTimeline/raw/develop/Images/Main.png"
        ProjectLink="https://github.com/Morasiu/BlazorTimeline"
        Date="16.01.2021">
        While I was working on my portfolio in Blazor, I needed some Timeline component. I couldn't find one, so 
        I've created one by myself on published in on GitHub and Nuget. It was well-received by Blazor community.
    </ScreenshotProject>

    <MobileProject
        Name="Printy"
        Date="26.11.2020"
        ScreenshotPath="@(new[] {"https://raw.githubusercontent.com/Morasiu/PrintyAPI/main/Docs/printy.gif"})"
        ProjectLink="https://github.com/Morasiu/PrintyAPI">
        
        Printy is a web app, which solves the problem of difficult access to printing spots. Printy allows any private 
        person to share his idle printer and earn some money from it. With Printy, customer can easily find and upload 
        files to print and then just go pick up it from the neighbour. Made at SheepYourHack 2. I was reponsible for
        making a REST API using .Net Core.
        
    </MobileProject>
    
    <SimpleProject
        Name="Naviq"
        Date="04.2018 - 12.2018">
        <span>
            Naviq was ASP.Net Core Web API project. In short terms it was employee management system.
            Unfortunately code and screenshots aren't available since it was inside, commercial project for Qumak S.A.
        </span>
        <Heading Size="HeadingSize.Is4" Class="text-center" Margin="Margin.Is2"> Used technologies</Heading>
        <SkillList TooltipText="1 = hardly used 5 = used all the time">
            <Skill Name="SkillName.CSharp" Level="SkillLevel.Five"/>
            <Skill Name="SkillName.AspNet" Level="SkillLevel.Five"/>
            <Skill Name="SkillName.VisualStudio" Level="SkillLevel.Four"/>
            <Skill Name="SkillName.RestApi" Level="SkillLevel.Four"/>
            <Skill Name="SkillName.UnitTests" Level="SkillLevel.Three"/>
            <Skill Name="SkillName.DesignPatterns" Level="SkillLevel.Three"/>
            <Skill Name="SkillName.Sql" Level="SkillLevel.Two"/>
            <Skill Name="SkillName.Git" Level="SkillLevel.Two"/>
        </SkillList>
    </SimpleProject>

    <SimpleProject
        Name="Qumak Managment System"
        Date="07.2017 - 03.2018">
        <span>
            QMS was a system for remotely managing customized, linux terminals with virtual desktop.
            It was able to send messages, update software, establish VNC connections and collect data.
            It used raw sockets for communication. I was responsible for client app wrote in Python.
        </span>
        <Heading Size="HeadingSize.Is4" Class="text-center" Margin="Margin.Is2"> Used technologies</Heading>
        <SkillList TooltipText="1 = hardly used 5 = used all the time">
            <Skill Name="SkillName.Python" Level="SkillLevel.Five"/>
            <Skill Name="SkillName.Linux" Level="SkillLevel.Four"/>
            <Skill Name="SkillName.UnitTests" Level="SkillLevel.Three"/>
            <Skill Name="SkillName.Git" Level="SkillLevel.Two"/>
            <Skill Name="SkillName.DesignPatterns" Level="SkillLevel.One"/>
        </SkillList>
    </SimpleProject>
</Container>