<div class="text-light" id="experience">
  <div class="row">
    <div class="col-md-2 col-auto offset-md-3">
      <img src="{{logo}}" alt="Logo" id="logo">
    </div>
    <div class="col-md-3 col align-self-center justify-content-center text-center">
      <span id="title">  {{title}} </span>
    </div>
    <div class="col-md-2 col-12 align-self-center justify-content-center " id="time">
      <span>{{time}}</span>
    </div>
  </div>
  <div class="row" id="description">
    <div class="col-md-6 justify-content-center offset-md-3">
      <i>{{description}}</i>
    </div>
  </div>
</div>
