<div class="row justify-content-center text-light">
  <div class="col-8 col-md-4">
    <div class="row justify-content-center justify-content-md-center">
      <div class="col-1">
        <img *ngIf="imagePath==null; else defaultImage"  [src]="skillImagePath" alt="fromService" id="bullet_image">
        <ng-template #defaultImage>
          <img [src]="imagePath" alt="fromArgument" id="bullet_image">
          </ng-template>
      </div>
      <div class="col-10 col-lg-6 align-self-start">
        <span >{{name}}</span>
      </div>
    </div>
  </div>
  <div class="col-0 col-md-0" *ngIf="level > 0;"></div>
  <div class="col-4 col-md-2" *ngIf="level > 0;">
    <div class="row justify-content-end" id="level">
      <span *ngFor="let item of levelList;">
        <span *ngIf="item; else elseBlock"><i class="fas fa-circle"></i></span>
        <ng-template #elseBlock><i class="far fa-circle"></i></ng-template>
      </span>
    </div>
  </div>
</div> 