<div class="text-light">
  <div class="row">
    <div class="col justify-content-start offset-md-3">
      <img *ngIf="imagePath==null; else defaultImage"  [src]="skillImagePath" alt="fromService" id="bullet_image">
      <ng-template #defaultImage><img [src]="imagePath" alt="fromArgument" id="bullet_image"></ng-template>
      <span>  {{name}}  </span>
    </div>
    <div class="col-4" *ngIf="level > 0;">
      <span *ngFor="let item of levelList;">
        <span *ngIf="item; else elseBlock"><i class="fas fa-circle"></i></span>
        <ng-template #elseBlock><i class="far fa-circle"></i></ng-template>
      </span>
    </div>
  </div> 
</div>