<div class="container">
  <div class="row">
    <app-mobile name="TeamUp" 
      image_src="../../assets/images/mobile/teamup2.png"
      short_description="Android app for finding sport partners"></app-mobile>
    <app-mobile name="MyPlock" 
      image_src="../../assets/images/mobile/my_plock1.jpg"
      short_description="App created for hackathon City Coders Płock 2018"></app-mobile>
     <app-mobile name="What should I do" 
      image_src="../../assets/images/mobile/what_should_i_do1.png"
      short_description="Simple wheel of fortune. My very first android app  aaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaa saaaaaaaaaaaaaaaaaaaa"></app-mobile>
  </div>
</div>