<div class="container">
    <h1 class="text-light text-center">{{name}}</h1>
    <p class="text-light text-center">{{description}}</p>
    <div class="row">
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="{{image_left}}" alt="Image left">
                </div>
            </div>
        </div>
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="{{image_center}}" alt="Image center">
                </div>
            </div>
        </div>
        <div class="col" id="mobile">
            <div class="smartphone">
                <div class="content">
                    <img src="{{image_right}}" alt="Image right">
                </div>
            </div>
        </div>
    </div>
</div>

