<div class="text-light" id="container">
  <app-pc-game
    name="Clockify.Net"
    description="It's REST HTTP Client made using RestSharp library for consuming Clockify service API. It has tests written using NUnit and Cloud build.
    Stable version 1.0.0 is available on Nuget and GitHub"
    image="./assets/images/other/clockify.net.png"
    link="https://github.com/Morasiu/Clockify.Net">
  </app-pc-game>
  <app-pc-game
    name="Swashbuckle.AspNetCore.JsonMultipartFormDataSupport"
    description="I've made a simple library which add support to ASP.Net Core for simultaneously sending JSON data and file using Http Request multipart/form-data.
    It also has support for Swashbuckle and Swagger and seamless integration. It's available on Nuget"
    image="https://raw.githubusercontent.com/Morasiu/Swashbuckle.AspNetCore.JsonMultipartFormDataSupport/master/Example.png"
    link="https://github.com/Morasiu/Swashbuckle.AspNetCore.JsonMultipartFormDataSupport">
  </app-pc-game>
  <app-web-project
  name="Telegram AI chatbot"
  time="02.2020 - 03.2020"
    description="By using over 70 000 messages from my Telegram's (communicator like Whatsapp) conversations
    I've managed to write my chatbot which you can talk to. It's written using python with Tensorflow and Seq2Seq model. 
    Despite it was my first attempt for machine learning I was a lot of fun. It can be found on my GitHub."
    technologies="Python, Linux, Tensorflow, Machine Learning, Telegram, Design patterns">
  </app-web-project>
  <app-pc-game
    name="Programming challenges"
    description="I really like solving programming challenges. I've made quite a lot of it including: sudoku solver, A*-based maze generator etc."
    image="https://github.com/Morasiu/ProgrammingChallenges/blob/master/docs/list.png?raw=true"
    link="https://github.com/Morasiu/ProgrammingChallenges">
  </app-pc-game>
  <app-pc-game
    name="Termgine"
    description="It's game engine for making terminal-based-games. Currently rewriting it to ECS."
    image="https://github.com/Morasiu/Termgine/blob/master/Docs/D&D_menu.png?raw=true"
    link="https://github.com/Morasiu/Termgine">
  </app-pc-game>
</div>