<ul>`
  <app-mobile-game name="Moonies"
  description="It's my first commercial game. I've sold in in Asset Store and 
  I've even` earn some money with it. It is pet simulator game with minigames, crafting etc."
  image_left="./assets/images/games/monnies1.jpg"
  image_center="./assets/images/games/monnies2.jpg"
  image_right="./assets/images/games/monnies3.jpg"></app-mobile-game>
  <app-mobile-game name="Recycle Hero"
  description="It's game that I've made for HackYeah in 2017. It simple match game with 
  intuitive controls made for children to learn about recycling etc."
  image_left="./assets/images/games/recycle_hero2.jpg"
  image_center="./assets/images/games/recycle_hero3.jpg"
  image_right="./assets/images/games/recycle_hero4.jpg"></app-mobile-game>
  <app-game-video name="AlchemyVR"
  description="It's a VR game for Oculus. It' simple alchemy games with realistic physics. Made for Nowy Wiśnicz Castle."
  link="https://www.youtube.com/embed/pFAGNfnh1I4?list=PL1HxhL7y_ADWrOOQdyEXWSBahERLzzcS22"></app-game-video>
  <app-game-video name="Starboo! Valley"
  description="It's game made for KrakJam 2019. It's puzzle game about ghost, who wants to scare off people from his house."
  link="https://www.youtube.com/embed/P4t-80BrNfg"></app-game-video>  
  <app-pc-game 
  name="Thorp"
  description="2D platformer survival game with procedural locations. Project is on hold."
  image="./assets/images/games/thorp.png" ></app-pc-game>
  <app-pc-game 
  name="AsteroidsVR"
  description="It is simple game inspired by good, old Asteroids game from Atari. But hey, it's 3D and VR."
  image="./assets/images/games/asteroids_vr.png" ></app-pc-game>
  <app-pc-game 
  name="Oval Journey"
  description="Mix of golf and snooker. Simple puzzle platformer. On hold."
  image="./assets/images/games/oval_journey1.png" ></app-pc-game>
</ul>
