<ul>`
  <app-mobile-game name="Moonies"
  description="It's my first commercial game. I've sold in in Asset Store and 
  I've even` earn some money with it. It is pet simulator game with minigames, crafting etc."
  image_left="./assets/images/games/monnies1.jpg"
  image_center="./assets/images/games/monnies2.jpg"
  image_right="./assets/images/games/monnies3.jpg"></app-mobile-game>
  <app-mobile-game name="Recycle Hero"
  description="It's game that I've made for HackYeah in 2017. It simple match game with 
  intuitive controls made for children to learn about recycling etc."
  image_left="../assets/images/games/recycle_hero2.jpg"
  image_center="./assets/images/games/recycle_hero3.jpg"
  image_right="./assets/images/games/recycle_hero4.jpg"></app-mobile-game>
</ul>