# This is a basic workflow to help you get started with Actions

name: Deploy to GitHub Pages

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
     # uses GitHub's checkout action to checkout code form the master branch
    - uses: actions/checkout@v2
      
    # sets up .NET SDK 
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    # publishes Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: 
            dotnet publish Portfolio/Portfolio/Portfolio.csproj -c Release -o release --nologo -p:GHPages=true
      
    # changes the base-tag in index.html from '/' to 'BlazorGitHubPagesDemo' to match GitHub Pages repository subdirectory
    - name: Change base-tag in index.html from / to Portfolio
      run: sed -i 's/<base href="\/"\/>/<base href="\/portfolio\/" \/>/g' release/wwwroot/index.html
      
    - name: Deploy to Github Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BASE_BRANCH: master
        BRANCH: gh-pages
        FOLDER: release/wwwroot
        CLEAN: true
      
